<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, inital-scale=1">
  <title>TEXT TO SPEECH</title>
</head>
<body>

  <div class="main">
    <form method="GET" action="/convertText">
      <textarea name="textInput"></textarea>
      <input type="submit" value="CONVERT">
    </form>
  </div>

</body>
</html>